.about {
  .line {
    width: 215px;
    border-right: 4px solid transparent;
    border-top: 10px solid $slamMid;
    margin-top: 14px;

    @media (max-width: $bp-small) {
      width: 150px;
      border-right: 2px solid transparent;
      border-top: 7px solid $slamMid;
      margin-top: 8px;
    }
  }

  &__title {
    margin-right: 85px;
  }

  &__text {
    margin-bottom: 70px;

    @media (max-width: $bp-medium) {
      margin-top: 16px;
      margin-bottom: 120px;
    }
    @media (max-width: $bp-small) {
      margin-top: 14px;
      margin-bottom: 60px;
    }
  }

  .member {
    --member-height: 200px;

    &__row {
      justify-content: space-between;
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 90px;
      margin-left: -20px;
      margin-right: -20px;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    &__name {
      width: 200px;
      height: var(--member-height);
      border-right: 1px solid #fff;
      transform: translateX(-50px) skewX(-27deg);
      @media (max-width: $bp-small) {
        width: 130px;
        height: 36px;
        transform: translateX(0px) skewX(-27deg);
        margin-bottom: 30px;
      }

      h4 {
        transform: skew(27deg);
      }
    }
    &__career {
      flex: 1;
    }

    &__line {
      width: 120px;
      height: var(--member-height);
      position: relative;
      z-index: 2;
      transform: translateX(50px) skewX(-27deg);
      border-right: 1px solid #fff;
      background-color: $slamDark;

      @media (max-width: $bp-medium) {
        display: none;
      }
    }

    &__img {
      width: 260px;
      height: var(--member-height);
      opacity: 0.5;
      padding: 0;
      display: flex;
      align-items: center;

      @media (max-width: $bp-medium) {
        display: none;
      }

      &__wrapper {
        width: 260px;
        height: 160px;
        overflow: hidden;
      }

      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .divide-logo {
    margin-top: 70px;
    margin-bottom: 200px;
    display: flex;
    justify-content: flex-end;
  }

  [data-scroll] {
    transition: all 2s;
  }

  [data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
  }
  [data-scroll="out"] {
    opacity: 0;
    transform: translateY(5px);
  }
}

.about-us .member {
  --member-height: 160px;

  &__row {
    margin-bottom: 150px;

    @media (max-width: $bp-small) {
      margin-bottom: 90px;
    }
  }

  &__name {
    width: 300px;

    @media (max-width: $bp-small) {
      width: 200px;
    }
  }

  &__img__wrapper {
    width: 260px;
    height: 120px;
    overflow: hidden;
  }
}
