.about {
  .line {
    width: 215px;
    border-right: 4px solid transparent;
    border-top: 10px solid $slamMid;
    margin-top: 14px;

    @media (max-width: $bp-small) {
      width: 150px;
      border-right: 2px solid transparent;
      border-top: 7px solid $slamMid;
      margin-top: 8px;
    }
  }

  &__title {
    margin-right: 85px;
  }

  &__text {
    margin-bottom: 70px;

    @media (max-width: $bp-medium) {
      margin-top: 16px;
      margin-bottom: 120px;
    }
    @media (max-width: $bp-small) {
      margin-top: 14px;
      margin-bottom: 60px;
    }
  }


  .divide-logo {
    margin-top: 70px;
    margin-bottom: 200px;
    display: flex;
    justify-content: flex-end;
  }

  [data-scroll] {
    transition: all 2s;
  }

  [data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
  }
  [data-scroll="out"] {
    opacity: 0;
    transform: translateY(5px);
  }

}
.about-section {

  .headline-md {
    border-bottom: 1px solid #fff;
    padding-bottom: 24px;

    @media (max-width: $bp-small) {
    padding-bottom: 16px;
    }
  }
}

.about-section--history {
  margin-bottom: 100px;

  .history-year {
    margin-bottom: 20px;

    @media (max-width: $bp-small) {
      margin-bottom: 12px;
    }
  }

  
  .splide {
    aspect-ratio: auto;
    margin-top: 32px;
    overflow: visible;

    @media (max-width: $bp-small) {
      margin-top: 16px;
    }
  }

  .splide__arrows {
    width: 64px;
    height: 28px;
    position: absolute;
    right: 0;
    top: -80px;

    .splide__arrow--next {
      right: 0;
    }

    .splide__arrow--prev {
      left: 0;
    }

    @media (max-width: $bp-small) {
      top: -60px;
    }
  }

  .history-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .history-item {
    font-size: 1rem;

    @media (max-width: $bp-small) {
      font-size: 0.75rem;
    }
    
    .history-link:hover {
      color: $slamMid;
    }

    .platform-icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 2px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      overflow: hidden;
      vertical-align: bottom;
      margin-left: 10px;

      @media (max-width: $bp-small) {
        width: 16px;
        height: 16px;
        margin-left: 6px;
      }
    }
  }
}

.about-section--creators {
  
  .creator-list {
    margin-top: 32px;
    display: flex;
    gap: 1.5rem 2.47rem;
    flex-wrap: wrap;

    @media (max-width: $bp-small) {
      margin-top: 16px;
      gap: 1rem 1.25rem ;
    }

    .creator-name {
     font-weight: bold;
    }
  }
}