.contact {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__info {
    display: flex;

    &__title {
      flex: 0 0 100px;
      font-weight: 700;
    }

    &__content-mail a {
      text-decoration: underline;
    }
  }

  &__map {
    position: relative;
    max-height: 50dvh;
    overflow: hidden;
    max-width: 100%;
    aspect-ratio: 16 / 9;
    margin-top: 16px;

    @media (max-width: $bp-medium) {
      max-height: 400px;
    }

    @media (max-width: $bp-small) {
      max-height: 300px;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
