.contact {
	.row--contact {
		display: flex;
		justify-content: space-between;

		@media (max-width: 1000px) {
			flex-direction: column;
			.col--contact-form {
				order: 1;
			}
			.col--contact-info {
				order: 2;
				margin-top: 100px;
			}
		}
	}
	.col--contact {
		flex: 0 0 calc(50% - 40px);
	}

	&__info {
		display: flex;

		&__title {
			flex: 0 0 100px;
			font-weight: 700;
		}

		&__content {
			margin-bottom: 18px;

			@media (max-width: 1402px) {
				margin-bottom: 10px;
			}
		}
	}

	&__map {
		margin-top: 30px;
		position: relative;
		height: 400px;
		overflow: hidden;
		max-width: 100%;

		@media (max-width: 1800px) {
			height: 300px;
		}
		@mixin atLarge {
			height: 220px;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__form {
		label {
			font-weight: 700;
		}

		input {
			width: 100%;
			background: transparent;
			border-radius: 0;
			-webkit-appearance: none;
			outline: none;
			border: none;
			border-bottom: 2px solid #fff;
			height: 40px;
			color: $slamMid;
			padding: 0;
			margin-bottom: 23px;
		}

		textarea {
			border-radius: 0;
			-webkit-appearance: none;
			outline: none;
			border: none;
			width: 100%;
			height: 400px;
			margin-top: 40px;
			padding: 10px;
			color: $slamDark;

			@media (max-width: 1800px) {
				height: 300px;
			}
			@mixin atLarge {
				height: 220px;
			}
		}

		p:nth-child(5) {
			text-align: center;
		}

		.ajax-loader {
			display: inline-block;
			border: 1px solid blue;
		}

		.wpcf7-form-control.wpcf7-submit {
			border: 2px solid #fff;
			color: #fff;
			width: auto;
			height: auto;
			padding: 0 20px;
			font-size: 1.5rem;
			line-height: 26px;
			margin-top: 20px;
			float: right;

			@media (max-width: 1000px) {
				float: none;
			}
		}
	}
}
