.contact {
  .row--contact {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }

  .col--contact {
    flex: 0 0 calc(50% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1000px) {
      flex: revert;
    }
  }

  &__info {
    display: flex;

    &__title {
      flex: 0 0 100px;
      font-weight: 700;
    }

    &__content {
      margin-bottom: 18px;
    }

    &__content-mail {
      margin-bottom: 60px;

      & a {
        text-decoration: underline;
      }
    }
  }

  &__map {
    position: relative;
    height: 400px;
    overflow: hidden;
    max-width: 100%;

    @media (max-width: $bp-large) {
      height: 300px;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
