.detail {
  &__video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    color: $slamMid;
    margin-bottom: 50px;

    @media (max-width: $bp-small) {
      margin-bottom: 40px;
    }
  }

  &__sub-title {
    font-weight: 700;
  }

  &__link {
    font-weight: 700;

    a {
      display: flex;
      line-height: 25px;
      transition: letter-spacing 0.2s ease;

      &::after {
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        transition: margin-left 0.2s ease;
        margin-left: 10px;
        background: url("../../images/icons/icon_link.svg") no-repeat center;
      }

      &:hover::after {
        margin-left: 12px;
      }
    }
  }

  &__slider {
    margin-top: 20px;

    &-wrapper {
      max-width: 60%;

      @media (max-width: $bp-medium) {
        max-width: 100%;
      }
    }
  }

  &__go-back {
    margin-top: 50px;
    & > a {
      display: block;
      font-weight: 700;
      font-size: 15px;

      transition: all 0.2s ease;

      &::before {
        content: "";
        display: block;
        width: 36px;
        height: 24px;
        transition: all 0.2s ease;
        margin-bottom: 10px;
        background: url("../../images/icons/icon_go_back.svg") no-repeat center;

        @media (max-width: $bp-small) {
          margin: 0 auto 10px;
        }
      }

      &:hover {
        margin-left: -4px;
        letter-spacing: 0.1em;
      }
    }

    @media (max-width: $bp-small) {
      text-align: center;
    }
  }
}

.splide {
  max-width: 864px;
  aspect-ratio: 864 / 576;
  overflow: hidden;

  &__track {
    height: 100%;
  }

  &__slide > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__arrow {
    background: transparent;
  }
  &__arrow svg {
    fill: #fff;
  }

  &__arrow svg {
    transform: scaleY(1.5);
  }

  &__arrow--prev svg {
    transform: scaleX(-1) scaleY(1.5);
  }

  &__pagination__page {
    background: $slamMid;
    opacity: 0.8;

    &.is-active {
      background: #fff;
      opacity: 1;
    }
  }
}

.row--detail {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 10px;

  @media (max-width: $bp-medium) {
    flex-direction: row;
  }
  @media (max-width: $bp-small) {
    flex-direction: column;
    margin-bottom: 20px;
  }
}

.col--detail-sub-title {
  flex: 0 0 120px;
  @media (max-width: $bp-small) {
    flex: 0 0 auto;
  }
}

.row--for-detail-link {
  margin-top: 20px;

  @media (max-width: $bp-small) {
    & > .col--detail-sub-title {
      display: none;
    }
  }
}
