.detail {

  .container-sm {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    color: $slamMid;
  }

  &-info {
   
    &-contain {
      display: flex;
      gap: 20px;

      @media (max-width: $bp-small) {
        flex-direction: column;
        gap: 0;
      }

      &:has(.detail-info__content--video) {
        padding-top: 12px;
      }

      &:has(.splide) {
        padding-top: 12px;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 1rem;
      flex: 0 0 7.5rem;

      @media (max-width: $bp-small) {
        flex: 0 0 auto;
        font-size: 0.75rem;
      }
    }

    &__content {
      display: flex;
      flex: 1;
      flex-direction: column;
      font-size: 1rem;

      @media (max-width: $bp-small) {
        font-size: 0.75rem;
      }

      &--link {
        font-weight: 700;
        display: flex;
        flex-direction: row;
        line-height: 25px;
        transition: letter-spacing 0.2s ease;

        &::after {
          content: "";
          display: block;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          transition: margin-left 0.2s ease;
          margin-left: 10px;
          background: url("../../images/icons/icon_link.svg") no-repeat center;
        }

        &:hover::after {
          margin-left: 12px;
        }
      }

      &--video {
        aspect-ratio: 16 / 9;
        overflow: hidden;

        iframe {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @media (max-width: $bp-small) {
          margin-top: 12px;
        }
      }

      &--slider {

        @media (max-width: $bp-small) {
          margin-top: 12px;
        }
      }
    }
  }


  &__go-back {
    margin-top: 50px;
    & > a {
      display: block;
      font-weight: 700;
      font-size: 15px;

      transition: all 0.2s ease;

      &::before {
        content: "";
        display: block;
        width: 36px;
        height: 24px;
        transition: all 0.2s ease;
        margin-bottom: 10px;
        background: url("../../images/icons/icon_go_back.svg") no-repeat center;

        @media (max-width: $bp-small) {
          margin: 0 auto 10px;
        }
      }

      &:hover {
        margin-left: -4px;
        letter-spacing: 0.1em;
      }
    }

    @media (max-width: $bp-small) {
      text-align: center;
    }
  }
}

.splide {
  aspect-ratio: 3 / 2;
  overflow: hidden;

  &__track {
    height: 100%;
  }

  &__slide > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__arrow {
    background: transparent;
  }
  &__arrow svg {
    fill: #fff;
  }

  &__arrow svg {
    transform: scaleY(1.5);
  }

  &__arrow--prev svg {
    transform: scaleX(-1) scaleY(1.5);
  }

  &__pagination__page {
    background: $slamMid;
    opacity: 0.8;

    &.is-active {
      background: #fff;
      opacity: 1;
    }
  }
}
