.home {
  position: relative;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
    }
  }

  &__bg-mobile {
    display: none;
  }

  &__video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  &__motto {
    position: absolute;
    bottom: 180px;
    height: 145px;
    z-index: 10;
    margin-left: var(--container-padding);
    display: flex;
    align-items: center;
    overflow: hidden;

    @media (max-width: $bp-medium) {
      margin-left: 0;
      bottom: 155px;
    }

    @media (max-width: $bp-small) {
      height: 120px;
      bottom: 150px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #17293a 0%, #ffffff 138.77%);
      opacity: 0.2;
      transform: translateX(-89px) skewX(-27deg);

      @media (max-width: $bp-small) {
        opacity: 0.3;
      }
    }

    & > h2 {
      opacity: 1;
      padding: 0 144px 0 40px;
      line-height: 2;

      @media (max-width: $bp-small) {
        font-size: 1.6rem;
      }
    }
  }
}
