.loader {
	position: absolute;
	width: 100%;
	height: calc(var(--vh, 1vh) * 100);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background-color: $slamLight;

	&__logo {
		width: 200px;
		height: 54px;
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
		margin-bottom: 54px;

		&__top {
			display: flex;
			height: 31px;
			overflow: hidden;
			position: relative;

			& > img {
				position: relative;
			}
		}

		&__bottom {
			display: flex;
			opacity: 0;
		}
	}
}
