.menu-btn-container {
  --longLineScale: 0.9;
  --middleLineScale: 0.78;
  --shortLineScale: 0.64;
  --line-middle-position: 15px;
  --line-top-position: 30px;

  @media (max-width: $bp-medium) {
    --line-middle-position: 13px;
    --line-top-position: 26px;
  }

  @media (max-width: $bp-small) {
    --line-middle-position: 10px;
    --line-top-position: 20px;
  }

  width: 54px;
  height: 54px;
  margin-top: calc(var(--header-padding) - 3px);

  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-30%);
  @media (max-width: $bp-small) {
    transform: translateX(-40%);
  }

  .menu-btn {
    display: block;
    width: 54px;
    height: 31px;
    position: relative;
    overflow: hidden;
    color: #fff;

    @media (max-width: $bp-medium) {
      width: 48px;
    }

    @media (max-width: $bp-small) {
      width: 38px;
    }
    .menu--text span {
      display: inline-block;
      position: absolute;
      top: 50%;
      opacity: 0;
      transition: opacity 200ms linear;
      text-transform: uppercase;
      font-size: 10px;
      text-decoration: none;
      font-weight: 100;
      transform: translateY(-50%);
      @media (max-width: $bp-medium) {
        transform: translateY(-68%);
      }

      @media (max-width: $bp-small) {
        transform: translateY(-95%);
      }
    }

    .line {
      display: block;
      height: 1px;
      width: 100%;
      background: #fff;
      transition: transform 200ms cubic-bezier(0.5, 0, 0.5, 1);
      position: absolute;

      &--1 {
        transform-origin: top left;
        transform: translateY(0px) scaleX(var(--longLineScale));
      }

      &--2 {
        transform-origin: top left;
        transform: translateY(var(--line-middle-position))
          scaleX(var(--middleLineScale));
      }

      &--3 {
        transform-origin: top left;
        transform: translateY(var(--line-top-position))
          scaleX(var(--shortLineScale));
      }
    }

    &:hover {
      [data-hover] {
        opacity: 1;
        letter-spacing: 0.45em;
        @media (max-width: $bp-medium) {
          letter-spacing: 0.3em;
        }

        @media (max-width: $bp-small) {
          letter-spacing: 0.15em;
        }
      }

      & .line--1 {
        transform: translateY(0px) scaleX(0);
      }
      & .line--2 {
        transform: translateY(0px) scaleX(var(--shortLineScale));
      }
      & .line--3 {
        transform: translateY(var(--line-top-position))
          scaleX(var(--longLineScale));
      }
    }
  }

  &.open .menu-btn {
    [data-hover] {
      opacity: 0;
    }
    [data-close] {
      opacity: 1;
      letter-spacing: 0.3em;
      @media (max-width: $bp-medium) {
        letter-spacing: 0.2em;
      }

      @media (max-width: $bp-small) {
        letter-spacing: 0.02em;
      }
    }

    & .line--1 {
      transform: translateY(0px) scaleX(0);
    }
    & .line--2 {
      transform: translateY(0px) scaleX(var(--shortLineScale));
    }
    & .line--3 {
      transform: translateY(var(--line-top-position))
        scaleX(var(--longLineScale));
    }

    &:hover {
      & .line--2 {
        transform: translateY(2px) scaleX(var(--shortLineScale));
      }
      & .line--3 {
        transform: translateY(calc(var(--line-top-position) - 2px))
          scaleX(var(--longLineScale));
      }
    }
  }
}
