.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: var(--header-padding) 0;
  transition: background 0.5s linear;


  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }

  h1 {
    font-size: 1rem;
  }

  .logo > img {
    height: var(--logo-height);
  }

  &.active {
    background: linear-gradient($slamDark 100%, transparent);
  }
}

.languages {
  display: flex;

  & li {
    padding: 10px;
    margin-left: 20px;
    margin-right: -10px;
    font-size: 1.25rem;

    @media (max-width: $bp-small) {
      font-size: 1rem;
      margin-left: 10px;
      margin-right: -10px;
    }
  }

  .current-lang {
    color: $slamMid;
  }

  .lang-item:hover {
    color: $slamMid;
  }
}
