.works {

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;


    @media (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: $bp-small) {
      grid-template-columns: 1fr;
    }
  }

  &__image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    aspect-ratio: 7 / 10;
    background: #000;

    > img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s var(--easing);
      opacity: 0.4;
    }
  }

  &__title {
    margin-top: 14px;
  }

  li {
    cursor: pointer;

    &:hover {

      .works__image-wrapper > img {
        transform: scale(1.05);
        opacity: 1;
      }

      .works__title {
        color: $slamMid;
      }
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    font-size: 0.875rem;

    @media (max-width: $bp-small) {
      margin-top: 40px;
      font-size: 0.75rem;
    }

    span,
    a {
      display: block;
      height: 28px;
      line-height: 26px;
      padding: 0 10px;
      margin: 0 5px;
      border: 1px solid #fff;
      box-sizing: border-box;
    }

    a:last-child {
      margin-right: 0;
    }

    a.next {
      margin-right: 0;
      border: none;
      line-height: 28px;
    }
    a.prev {
      margin-left: 0;
      border: none;
      line-height: 28px;
    }
    span.current {
      color: $slamDark;
      background-color: #fff;
      line-height: 28px;
      border: none;
    }
  }
}
