/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[4].use[3]!./src/scss/styles.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
/* 3rd party packages */
/* SASS and Global'ish Stuff */
@define-mixin atSmall {
  @media (max-width: 576px) {
    @mixin-content;
  }
}
@define-mixin atMedium {
  @media (max-width: 1159px) {
    @mixin-content;
  }
}
@define-mixin atLarge {
  @media (max-width: 1600px) {
    @mixin-content;
  }
}
:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
  --container-padding: 120px;
  --header-padding: 30px;
  --logo-height: 54px;
  --header-height: calc(var(--header-padding) * 2 + var(--logo-height));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: calc(var(--vh, 1vh) * 100);
  /* min-height: calc(var(--vh, 1vh) * 100 - var(--header-height)); */
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.02em;
  background-color: #17293a;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}

ul,
ol,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

cite {
  font-style: normal;
}

fieldset {
  border-width: 0;
  padding: 0;
  margin: 0;
}

input {
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
}

input[type=text],
input[type=password] {
  padding-left: 10px;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #c5b494 #17293a;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #17293a;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #17293a;
}

body::-webkit-scrollbar-thumb {
  background-color: #c5b494;
  border: 2px solid #17293a;
}

select {
  background: url("data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 width=%27100%27 height=%27100%27 fill=%27%23ffffff%27><polygon points=%270,0 100,0 50,50%27/></svg>") no-repeat !important;
  background-size: 12px !important;
  background-position: calc(100% - 5px) calc(100% - 3px) !important;
  background-repeat: no-repeat !important;
  color: #fff !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-left: 2px !important;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
  line-height: 1.6;
}

p {
  font-size: 1.6rem;
  line-height: 2;
}
p.padding-left {
  padding-left: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* BEM Blocks */
.container-fluid {
  padding: 0 var(--container-padding);
}

.row {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}
.col {
  padding-left: 20px;
  padding-right: 20px;
}

.justify-content-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.container-sm {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: var(--header-padding) 0;
  transition: background 0.5s linear;
}
.header .logo > img {
  height: var(--logo-height);
}
.header.active {
  background: linear-gradient(#17293a 100%, transparent);
}

.languages {
  display: flex;
}
.languages li {
  padding: 10px;
  margin-left: 20px;
  margin-right: -10px;
  font-size: 2rem;
}
.languages .current-lang {
  color: #c5b494;
}
.languages .lang-item:hover {
  color: #c5b494;
}

.social {
  display: flex;
}
.social li {
  padding: 10px;
  margin-left: 20px;
  margin-right: -10px;
}
.social a {
  display: block;
  font-size: 2rem;
}

.menu-btn-container {
  --longLineScale: 0.9;
  --middleLineScale: 0.78;
  --shortLineScale: 0.64;
  --line-middle-position: 15px;
  --line-top-position: 30px;
  width: 54px;
  height: 54px;
  margin-top: calc(var(--header-padding) - 3px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-30%);
}
.menu-btn-container .menu-btn {
  display: block;
  width: 54px;
  height: 31px;
  position: relative;
  overflow: hidden;
  color: #fff;
}
.menu-btn-container .menu-btn .menu--text span {
  display: inline-block;
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: opacity 200ms linear;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  font-weight: 100;
  transform: translateY(-50%);
}
.menu-btn-container .menu-btn .line {
  display: block;
  height: 1px;
  width: 100%;
  background: #fff;
  transition: transform 200ms cubic-bezier(0.5, 0, 0.5, 1);
  position: absolute;
}
.menu-btn-container .menu-btn .line--1 {
  transform-origin: top left;
  transform: translateY(0px) scaleX(var(--longLineScale));
}
.menu-btn-container .menu-btn .line--2 {
  transform-origin: top left;
  transform: translateY(var(--line-middle-position)) scaleX(var(--middleLineScale));
}
.menu-btn-container .menu-btn .line--3 {
  transform-origin: top left;
  transform: translateY(var(--line-top-position)) scaleX(var(--shortLineScale));
}
.menu-btn-container .menu-btn:hover [data-hover] {
  opacity: 1;
  letter-spacing: 0.45em;
}
.menu-btn-container .menu-btn:hover .line--1 {
  transform: translateY(0px) scaleX(0);
}
.menu-btn-container .menu-btn:hover .line--2 {
  transform: translateY(0px) scaleX(var(--shortLineScale));
}
.menu-btn-container .menu-btn:hover .line--3 {
  transform: translateY(var(--line-top-position)) scaleX(var(--longLineScale));
}
.menu-btn-container.open .menu-btn [data-hover] {
  opacity: 0;
}
.menu-btn-container.open .menu-btn [data-close] {
  opacity: 1;
  letter-spacing: 0.3em;
}
.menu-btn-container.open .menu-btn .line--1 {
  transform: translateY(0px) scaleX(0);
}
.menu-btn-container.open .menu-btn .line--2 {
  transform: translateY(0px) scaleX(var(--shortLineScale));
}
.menu-btn-container.open .menu-btn .line--3 {
  transform: translateY(var(--line-top-position)) scaleX(var(--longLineScale));
}
.menu-btn-container.open .menu-btn:hover .line--2 {
  transform: translateY(2px) scaleX(var(--shortLineScale));
}
.menu-btn-container.open .menu-btn:hover .line--3 {
  transform: translateY(calc(var(--line-top-position) - 2px)) scaleX(var(--longLineScale));
}

.menu {
  pointer-events: none;
}
.menu.active {
  display: block;
  pointer-events: all;
}
.menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 50;
}
.menu__overlay::before {
  content: "";
  display: block;
  width: 200%;
  height: 200vh;
  background-color: #17293a;
  opacity: 0.9;
  transition: all 0.5s var(--easing);
  transform: rotate(27deg) translateX(-150%);
}
.menu__overlay.active::before {
  transform: rotate(27deg) translateX(-60%);
}
.menu__list {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__list .menu {
  pointer-events: unset;
}
.menu__list ul {
  font-size: clamp(3rem, 4vw, 6rem);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
}
.menu__list li {
  margin-bottom: 40px;
  opacity: 0;
}
.menu__list li:last-child {
  margin-bottom: 0;
}
.menu__list li a {
  transition: color 0.5s var(--easing);
}
.menu__list li a:hover {
  color: #c5b494;
}

main {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100);
  background-size: cover;
  transition: all 0.5s var(--easing);
  padding-top: var(--header-height);
  padding-bottom: var(--header-height);
}
main.loading {
  height: 100vh;
  overflow: hidden;
}

.blur {
  filter: blur(5px);
}

.black-filter {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 30;
  background-color: #000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s var(--easing);
}
.black-filter.active {
  opacity: 0.4;
}

.page-header {
  padding: 80px;
  display: flex;
  justify-content: center;
}
.page-header h2 {
  overflow: hidden;
  display: flex;
}
.page-header h2 .space {
  width: 20px;
}

.page-body {
  opacity: 0;
}

.mouse {
  width: 24px;
  height: auto;
}

.scroll {
  animation-name: scroll;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-iteration-count: infinite;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
}

@keyframes scroll {
  0%, 20% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}
.mouse-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.mouse-scroll > span {
  margin-bottom: 8px;
}

.loader {
  position: absolute;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f4ece9;
}
.loader__logo {
  width: 200px;
  height: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 54px;
}
.loader__logo__top {
  display: flex;
  height: 31px;
  overflow: hidden;
  position: relative;
}
.loader__logo__top > img {
  position: relative;
}
.loader__logo__bottom {
  display: flex;
  opacity: 0;
}

/* BEM Blocks for each page */
.home {
  position: relative;
}
.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}
.home__bg-mobile {
  display: none;
}
.home__video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.home__motto {
  position: absolute;
  bottom: 180px;
  height: 145px;
  z-index: 10;
  margin-left: var(--container-padding);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.home__motto::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #17293a 0%, #ffffff 138.77%);
  opacity: 0.2;
  transform: translateX(-89px) skewX(-27deg);
}
.home__motto > h4 {
  opacity: 1;
  padding: 0 55px 0 40px;
  line-height: 2;
}

.about .line {
  width: 215px;
  border-right: 4px solid transparent;
  border-top: 10px solid #c5b494;
  margin-top: 14px;
}
.about__title {
  margin-right: 85px;
}
.about__text {
  margin-bottom: 70px;
}
.about .member {
  --memeber-height: 200px;
}
.about .member__row {
  justify-content: space-between;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: -20px;
  margin-right: -20px;
}
.about .member__row:last-child {
  margin-bottom: 0px;
}
.about .member__name {
  width: 200px;
  height: var(--memeber-height);
  border-right: 1px solid #fff;
  transform: translateX(-50px) skewX(-27deg);
}
.about .member__name h4 {
  transform: skew(27deg);
}
.about .member__career {
  flex: 1;
}
.about .member__line {
  width: 120px;
  height: var(--memeber-height);
  position: relative;
  z-index: 2;
  transform: translateX(50px) skewX(-27deg);
  border-right: 1px solid #fff;
  background-color: #17293a;
}
.about .member__img {
  width: 260px;
  height: var(--memeber-height);
  opacity: 0.5;
  padding: 0;
  display: flex;
  align-items: center;
}
.about .member__img__wrapper {
  width: 260px;
  height: 160px;
  overflow: hidden;
}
.about .member__img img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.about .divide-logo {
  margin-top: 70px;
  margin-bottom: 200px;
  display: flex;
  justify-content: flex-end;
}
.about [data-scroll] {
  transition: all 2s;
}
.about [data-scroll=in] {
  opacity: 1;
  transform: translateY(0);
}
.about [data-scroll=out] {
  opacity: 0;
  transform: translateY(5px);
}

.about-us .member {
  --memeber-height: 160px;
}
.about-us .member__row {
  margin-bottom: 150px;
}
.about-us .member__name {
  width: 300px;
}
.about-us .member__img__wrapper {
  width: 260px;
  height: 120px;
  overflow: hidden;
}

.works ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px -50px;
}
.works ul:after {
  content: "";
  flex: auto;
}
.works li {
  width: 100%;
  width: 33.3333%;
  flex: 0 0 calc(33.3333% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}
.works__image {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 142.8571428571%;
  background: #000;
}
.works__image::before {
  /* content: '';
  display: block;
  height: 110%;
  width: 100%;
  top: 0;
  left: 0;
  background: $slamMid;
  position: absolute;
  transition: transform 0.3s var(--easing);
  transform: rotate(27deg) translateX(75%); */
}
.works__image img {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transition: all 0.3s var(--easing);
  opacity: 0.4;
  transform: translateY(-50%);
}
.works__image:hover {
  /* &::before {
  	transform: rotate(27deg) translateX(150%);
  } */
}
.works__image:hover img {
  opacity: 1;
  transform: scale(1.04) translateY(-50%);
}
.works__title {
  margin-top: 14px;
}
.works__pagination {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  font-size: 1.4rem;
}
.works__pagination span,
.works__pagination a {
  display: block;
  height: 28px;
  line-height: 26px;
  padding: 0 10px;
  margin: 0 5px;
  border: 1px solid #fff;
  box-sizing: border-box;
}
.works__pagination a:last-child {
  margin-right: 0;
}
.works__pagination a.next {
  margin-right: 0;
  border: none;
  line-height: 28px;
}
.works__pagination a.prev {
  margin-left: 0;
  border: none;
  line-height: 28px;
}
.works__pagination span.current {
  color: #17293a;
  background-color: #fff;
  line-height: 28px;
  border: none;
}

.detail__video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.detail__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.detail__title {
  color: #c5b494;
  margin-bottom: 50px;
}
.detail__sub-title {
  font-weight: 700;
}
.detail__link {
  font-weight: 700;
}
.detail__link a {
  display: flex;
  line-height: 25px;
  transition: letter-spacing 0.2s ease;
}
.detail__link a::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: margin-left 0.2s ease;
  margin-left: 10px;
}
.detail__link a:hover {
  letter-spacing: 0.1rem;
}
.detail__link a:hover::after {
  margin-left: 12px;
}
.detail__slider {
  margin-top: 20px;
}
.detail__slider-wrapper {
  max-width: 60%;
}
.detail__go-back {
  margin-top: 50px;
}
.detail__go-back > a {
  display: block;
  font-weight: 700;
  font-size: 15px;
  transition: all 0.2s ease;
}
.detail__go-back > a::before {
  content: "";
  display: block;
  width: 36px;
  height: 24px;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}
.detail__go-back > a:hover {
  margin-left: -4px;
  letter-spacing: 0.1rem;
}

#image-slider .splide__arrow {
  background: transparent;
}
#image-slider .splide__arrow svg {
  fill: #fff;
}
#image-slider .splide__arrow svg {
  transform: scaleY(1.5);
}
#image-slider .splide__arrow--prev svg {
  transform: scaleX(-1) scaleY(1.5);
}
#image-slider .splide__pagination__page {
  background: #c5b494;
  opacity: 0.8;
}
#image-slider .splide__pagination__page.is-active {
  background: #fff;
  opacity: 1;
}
#image-slider .splide__slide__wrapper {
  padding-top: 66.6666666667%;
  position: relative;
}
#image-slider .splide__slide__img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.row--detail {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 10px;
}

.col--detail-sub-title {
  flex: 0 0 120px;
}

.row--for-detail-link {
  margin-top: 20px;
}

.contact .row--contact {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1000px) {
  .contact .row--contact {
    flex-direction: column;
  }
  .contact .row--contact .col--contact-form {
    order: 1;
  }
  .contact .row--contact .col--contact-info {
    order: 2;
    margin-top: 100px;
  }
}
.contact .col--contact {
  flex: 0 0 calc(50% - 40px);
}
.contact__info {
  display: flex;
}
.contact__info__title {
  flex: 0 0 100px;
  font-weight: 700;
}
.contact__info__content {
  margin-bottom: 18px;
}
@media (max-width: 1402px) {
  .contact__info__content {
    margin-bottom: 10px;
  }
}
.contact__map {
  margin-top: 30px;
  position: relative;
  height: 400px;
  overflow: hidden;
  max-width: 100%;
}
@media (max-width: 1800px) {
  .contact__map {
    height: 300px;
  }
}
.contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.contact__form label {
  font-weight: 700;
}
.contact__form input {
  width: 100%;
  background: transparent;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
  height: 40px;
  color: #c5b494;
  padding: 0;
  margin-bottom: 23px;
}
.contact__form textarea {
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;
  border: none;
  width: 100%;
  height: 400px;
  margin-top: 40px;
  padding: 10px;
  color: #17293a;
}
@media (max-width: 1800px) {
  .contact__form textarea {
    height: 300px;
  }
}
.contact__form p:nth-child(5) {
  text-align: center;
}
.contact__form .ajax-loader {
  display: inline-block;
  border: 1px solid blue;
}
.contact__form .wpcf7-form-control.wpcf7-submit {
  border: 2px solid #fff;
  color: #fff;
  width: auto;
  height: auto;
  padding: 0 20px;
  font-size: 1.5rem;
  line-height: 26px;
  margin-top: 20px;
  float: right;
}
@media (max-width: 1000px) {
  .contact__form .wpcf7-form-control.wpcf7-submit {
    float: none;
  }
}

/*# sourceMappingURL=styles.css.map*/