.headline-lg {
  font-size: 6rem;
}

.headline-md {
  font-size: 3.5rem;
}

.headline-sm {
  font-size: 2rem;
  line-height: 1.6;
}

p {
  font-size: 1.6rem;
  line-height: 2;

  &.padding-left {
    padding-left: 20px;
    @media (max-width: $bp-small) {
      padding-left: 14px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: $bp-small) {
  .headline-lg {
    font-size: 4.8rem;
  }

  .headline-md {
    font-size: 2.4rem;
  }

  .headline-sm {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.2rem;
  }
}
