.headline-lg {
  font-size: 4rem;
}

.headline-md {
  font-size: 2rem;
}

.headline-sm {
  font-size: 1.25rem;
  line-height: 1.6;
}

p {
  font-size: 1rem;
  line-height: 2;

  &.padding-left {
    padding-left: 1.25rem;

    @media (max-width: $bp-small) {
      padding-left: 0.875px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: $bp-small) {
  .headline-lg {
    font-size: 4rem;
  }

  .headline-md {
    font-size: 1.5rem;
  }

  .headline-sm {
    font-size: 1.125rem;
  }

  p {
    font-size: 0.75rem;
  }
}
