$slamDark: #17293a;
$slamMid: #c5b494;
$slamLight: #f4ece9;
$slamWhite: #ffffff;
$bp-small: 576px;
$bp-medium: 1159px;
$bp-large: 1600px;

:root {
  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
  --container-padding: 120px;
  --header-padding: 30px;
  --logo-height: 54px;
  --header-height: calc(var(--header-padding) * 2 + var(--logo-height));

  @media (max-width: $bp-medium) {
    --container-padding: 50px;
    --header-padding: 20px;
    --logo-height: 45px;
  }

  @media (max-width: $bp-small) {
    --container-padding: 20px;
    --header-padding: 10px;
    --logo-height: 30px;
  }
}
